/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body{
  display: flex;
  justify-content: center;
}

.inputs{
  margin: 50px 0 30px 0;
  text-align:center;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
